<div class="container wrapper first" id="top">

<h1>Create a New Blog Post</h1>
<%= form_for(@blog, html: {multipart: true}) do |f| %>
  <ul>
  <% @blog.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
</div>
